{% extends 'predictsa20/base.html' %}

{% block content %}
  <div class="container mt-5">
    {% if validlink %}
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Change Password</h3>
          <form method="post" class="my-4">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_new_password1" class="form-label">New Password:</label>
              {{ form.new_password1 }}
            </div>
            <ul>
            <li>Your password cannot be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password cannot be a commonly used password.</li>
            <li>Your password cannot be entirely numeric.</li>
            </ul>
            <div class="mb-3">
              <label for="id_new_password2" class="form-label">Confirm New Password:</label>
              {{ form.new_password2 }}
            </div>
            <button type="submit" class="btn btn-secondary">Change Password</button>
          </form>          
        </div>
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
      </div>
    {% endif %}
  </div>
{% endblock %}
