{% extends 'predictsa20/base.html'%}

{% block content %}
  <body>
    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Predict</h1>
          <form method="post" action="">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input type="text" name="username" class="form-control" required />
            </div>
            <div class="mb-3">
              <label for="pass1" class="form-label">Password:</label>
              <input type="password" name="pass1" class="form-control" required />
            </div>
            <div class="mb-3">
              <label for="match_id" class="form-label">Select a match:</label>
              <select name="match_id" class="form-select" required>
                <option value="" disabled selected>Select Match</option>
                {% for match in match_list %}
                  <option value="{{ match.match_id }}">{{ forloop.counter }}.{{ match }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="predicted_team" class="form-label">Predicted Team:</label>
              <select name="predicted_team" class="form-select" required>
                <option value="" disabled selected>Select Team</option>
                {% for match in match_list %}
                  {% if match.match_id == selected_match_id %}
                    <option value="{{ match.match_team_A }}">{{ match.match_team_A }}</option>
                    <option value="{{ match.match_team_B }}">{{ match.match_team_B }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-secondary">Predict</button>
          </form>
          <button type="button" class="btn btn-link" onclick="window.location.href='{% url 'password_reset' %}'">Forgot Password</button>
        </div>
      </div>
    </div>


    <script>
      // Fetch teams based on the selected match
      document.querySelector('[name="match_id"]').addEventListener('change', function () {
        const selectedMatchId = this.value
        const teamDropdown = document.querySelector('[name="predicted_team"]')
      
        // Clear previous options
        teamDropdown.innerHTML = '<option value="">Select a team</option>'
      
        // AJAX request to fetch teams based on the selected match
        fetch(`/get_teams_for_match/${selectedMatchId}`)
          .then((response) => response.json())
          .then((data) => {
            // Populate the dropdown with teams
            data.teams.forEach((team) => {
              const option = document.createElement('option')
              option.value = team
              option.text = team
              teamDropdown.add(option)
            })
          })
      })
    </script>
  </body>
{% endblock %}
